/* PARA DISPOSITIVOS MÓVILES */
@media only screen and (max-width: 767px) {
    .imginicio,
    .imgtablet {
      display: none; /* Ocultar la imagen para tabletas, ordenadores e iPad en dispositivos móviles */
    }
  
    .imgmovil {
      display: block; /* Mostrar la imagen específica para móviles en dispositivos móviles */
    }
  }
  
  /* PARA TABLETS */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .imgmovil,
    .imginicio {
      display: none; /* Ocultar la imagen específica para móviles y la imagen para tabletas en tabletas e iPad */
    }
  
    .imgtablet {
      display: block; /* Mostrar la imagen del iPad en tabletas */
    }
  }
/* PARA ORDENADORES */
@media only screen and (min-width: 1024px) {
    .imgmovil,
    .imgtablet {
      display: none;
    }

    .imginicio {
      width: 70%;
      height: auto;
      margin: 0 auto;
      position: relative; /* Para que los divs internos sean relativos a este contenedor */
    }

    .boton {
      position: absolute;
      cursor: pointer;
      background-color: #3498DB;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
      font-size: 16px;
    }

    /* Posicionamiento de los botones dentro de la imagen del monitor */
    .boton1 {
      top: 20%;
      left: 30%;
    }

    .boton2 {
      top: 50%;
      left: 15%;
    }

    .boton3 {
      top: 50%;
      left: 50%;
    }

    .boton4 {
      top: 80%;
      left: 70%;
    }
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  body {
    background-image: url('../img/bg.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.contenedor {
  
  background-size: cover;
  background-repeat: no-repeat;
}

  
  .boton{
              text-align:center;
              text-decoration: none;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        display:inline-block;
              color: #FFF;
              background: #207c83;
              padding: 15px 30px;
              white-space: nowrap;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px;
              margin: 10px 5px;
              -webkit-transition: all 0.2s ease-in-out;
              -ms-transition: all 0.2s ease-in-out;
              -moz-transition: all 0.2s ease-in-out;
              -o-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
  }
        
 
  

  main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }



header {
    background-color: #333;
    color: #0d0868;
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #516be8;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #042084;
}

footer{background-color: #333; 
    color: #fff;
    text-align: center; 
    padding: 10px;
}