@import url("..margin.scss");
@import url("../header.scss");
body {
  color: red;
}

/*MIXIN*/
.titulos {
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  color: green;
  padding: 4px;
  margin-top: 10px;
}

.golden {
  background-color: gold;
}
.golden p {
  color: green;
}

/*MODULOS*/