body {
    padding-top: 56px; /* Tamaño del navbar en dispositivos móviles */
}

@media (max-width: 576px) {
    .navbar-toggler {
        position: absolute;
        right: 0;
    }

    .navbar-collapse {
        display: none;
        position: absolute;
        top: 56px; /* Tamaño del navbar en dispositivos móviles */
        width: 100%;
        background-color: #f8f9fa; /* Color de fondo del navbar en dispositivos móviles */
    }

    .navbar-nav {
        width: 100%;
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin: 0;
    }

    .navbar-collapse.show {
        display: block;
    }
}

main {
    flex-shrink: 0;
    overflow: auto;
}
#banner img {
    width: 100%;
    height: 50%;
}


#Git a.btn-primary {
    background-color: #f38b6b; 
    border-color: #f0680d; 
}

#Docker a.btn-success {
    background-color: #74cbe0; 
    border-color: #006888; 
}

/* Ajustes adicionales para mejorar la apariencia de los botones */
#Git a.btn-primary:hover{
    background-color: #b44917; 
    border-color: #df691a; 
}
#Docker a.btn-success:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
}

#banner {
    width: 100%;
    overflow: hidden;
}




#gitSection {
    background-color: #ffc107; /* Puedes cambiar este color según tus preferencias */
}

#dockerSection {
    background-color: #28a745; /* Puedes cambiar este color según tus preferencias */
}
























