/* Imágenes más pequeñas en las pantallas pequeñas */
@media (max-width: 768px) {
    #imagen1, #imagen2, #imagen3 {
        max-width: 100%;
        height: auto;
    }
}

/* Imágenes más pequeñas en las pantallas medianas */
@media (min-width: 769px) and (max-width: 992px) {
    #imagen1, #imagen2, #imagen3 {
        max-width: 80%;
        height: auto;
    }
}

/* Imágenes más pequeñas en las pantallas grandes */
@media (min-width: 993px) {
    #imagen1, #imagen2, #imagen3 {
        max-width: 60%;
        height: auto;
    }
}

#map {
    height: 400px;
    width: 100%;
}

.img-hover {
    transition: transform 0.3s ease-in-out;
}

.img-hover:hover {
    transform: scale(1.1);
}


.campo-resaltado {
    border: 2px solid rgb(131, 183, 250);  /* Color: LightBlue */
    outline: none;  /* Eliminar el contorno predeterminado del campo */
}

